.account {
  background: var(--tg-theme-bg-color);
  border-radius: 21px;
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 208px;
  min-height: 157px;
  margin-right: 8px;
  flex-shrink: 0;
}
.name {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: var(--tg-theme-text-color);
}
.menu {
  position: absolute;
  top: 11px;
  right: 15px;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
}
.menu svg path {
  fill: var(--tg-theme-text-color);
}
.money {
  margin-top: auto;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.03em;
  color: var(--tg-theme-text-color);
  margin-bottom: 8px;
}
.description {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.03em;
  color: var(--tg-theme-text-color);
  opacity: 0.6;
  max-width: 65%;
}
