.balance {
  margin-bottom: 22px;
}
.subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  /*color: rgba(30, 30, 30, 0.4);*/
  color: var(--tg-theme-text-color);
  opacity: 0.6;
}
.count {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.03em;
  /*color: #1e1e1e;*/
  color: var(--tg-theme-text-color);
  margin-bottom: 26px;
}
.count span {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.03em;
  color: var(--tg-theme-text-color);
  opacity: 0.6;
}
.wrap {
  background: var(--tg-theme-bg-color);
  border-radius: 106.83px;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.income,
.expense {
  display: grid;
  grid-template-columns: 38px 1fr;
  grid-template-rows: max-content max-content;
  column-gap: 12px;
}
.income svg,
.expense svg {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.income svg rect {
  fill: var(--tg-theme-button-color);
}
.income svg path {
  fill: var(--tg-theme-button-text-color);
}
.expense svg rect {
  fill: var(--tg-theme-secondary-bg-color);
}
.expense svg path {
  fill: var(--tg-theme-button-text-color);
}
.sum {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  color: var(--tg-theme-text-color);
  align-self: end;
}
.descr {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.01em;
  color: var(--tg-theme-text-color);
  align-self: start;
  opacity: 0.6;
}
