@font-face {
  font-family: 'Factor A';
  src: url('./fonts/FactorA-Black.woff2') format('woff2'),
      url('./fonts/FactorA-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Factor A';
  src: url('./fonts/FactorA-Light.woff2') format('woff2'),
      url('./fonts/FactorA-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Factor A';
  src: url('./fonts/FactorA-Regular.woff2') format('woff2'),
      url('./fonts/FactorA-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Factor A';
  src: url('./fonts/FactorA-Bold.woff2') format('woff2'),
      url('./fonts/FactorA-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Factor A';
  src: url('./fonts/FactorA-Extrabold.woff2') format('woff2'),
      url('./fonts/FactorA-Extrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Factor A';
  src: url('./fonts/FactorA-Medium.woff2') format('woff2'),
      url('./fonts/FactorA-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --tg-theme-bg-color: #17212B;
  --tg-theme-text-color: #f5f5f5;
  --tg-theme-hint-color: #708499;
  --tg-theme-link-color: #6ab3f3;
  --tg-theme-button-color: #5288c1;
  --tg-theme-button-text-color: #ffffff;
  --tg-theme-secondary-bg-color: #232e3c;
}
body * {
  font-family: 'Factor A', sans-serif;
}
#root .active {
  color: var(--tg-theme-text-color);
}
.swiper-slide {
  width: 208px !important;
}
