.transaction {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 26px;
}
.transaction svg {
  flex-shrink: 0;
}
.transaction svg rect {
  fill: var(--tg-theme-bg-color);
}
.transaction svg path {
  fill: var(--tg-theme-text-color);
}
.nameWrap {
  margin-left: 16px;
  position: relative;
  top: 3px;
}
.name {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.03em;
  color: var(--tg-theme-text-color);
  margin-bottom: 4px;
}
.date {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.03em;
  color: var(--tg-theme-text-color);
  opacity: 0.6;
}
.dataWrap {
  margin-left: auto;
}
.sumIncome {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.03em;
  color: var(--tg-theme-link-color);
  margin-bottom: 4px;
}
.sumExpense {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.03em;
  color: var(--tg-theme-text-color);
  margin-bottom: 4px;
}
.account {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.03em;
  color: var(--tg-theme-text-color);
  opacity: 0.6;
}
